Repository mercimat/instavote: changes, and which Jenkins stages are due for each by the changed paths.
All: build, test, package, docker-package

Path conditions:
  build: ((any of: results.go) or (any of: core/**)) or ((any of: vote.go) or (any of: core/**)) or ((any of: worker.go) or (any of: core/**))
  test: ((any of: results.go) or (any of: core/**)) or ((any of: vote.go) or (any of: core/**)) or ((any of: worker.go) or (any of: core/**))
  package: ((any of: results.go) or (any of: core/**)) or ((any of: vote.go) or (any of: core/**)) or ((any of: worker.go) or (any of: core/**))
  docker-package: ((any of: results.go) or (any of: core/**)) or ((any of: worker.go) or (any of: core/**))

test new pipeline
  results.go
  vote.go
  worker.go
Due: build, test, package, docker-package

test pipeline
  vote.go
Due: build, test, package

fix jenkins files
  Jenkinsfile.results
  Jenkinsfile.vote
  Jenkinsfile.worker
Due: none

fix jenkins files
  Jenkinsfile.results
  Jenkinsfile.vote
  Jenkinsfile.worker
  results.go
  vote.go
  worker.go
Due: build, test, package, docker-package

update redis and mongodb urls
  results.go
  vote.go
  worker.go
Due: build, test, package, docker-package

fix typo
  results.go
Due: build, test, package, docker-package

add default values for results
  core/handlers.go
Due: build, test, package, docker-package

add docker compose file
  docker-compose.yml
Due: none

add mono pipeline file
  Jenkinsfile.mono
Due: none

trigger mono pipeline
  core/handlers.go
Due: build, test, package, docker-package

use golang:alpine in Dockerfiles
  Dockerfile.results
  Dockerfile.vote
  Dockerfile.worker
Due: none

trigger build pipeline
  core/handlers.go
Due: build, test, package, docker-package

only push main tags
  Jenkinsfile.mono
Due: none

add deploy stage
  Jenkinsfile.mono
Due: none

add e2e tests
  Jenkinsfile.mono
  e2e/app_test.go
Due: none

load docker-compose in e2e tests agent
  Jenkinsfile.mono
Due: none

wait for containers to be ready
  Jenkinsfile.mono
Due: none

fix e2e tests
  Jenkinsfile.mono
  e2e/app_test.go
Due: none

reset the MongoDB volume
  Jenkinsfile.mono
Due: none

add Jenkinsfile.e2e
  Jenkinsfile.e2e
Due: none

pull latest docker images
  Jenkinsfile.mono
Due: none
